<!-- node.js - ejs - Layout Partials -->
<%- include("partials/header"); -%>

<h1>Compose</h1>

<form class="createPost" action="/compose" method="post">
  <input type="text" name="postTitle" autofocus>
  <button type="submit" name="button">Publish</button>
</form>

<!-- node.js - ejs - Layout Partials -->
<%- include("partials/footer"); -%>
