<!-- node.js - ejs - Layout Partials -->
<%- include("partials/header"); -%>

<h1>Compose</h1>
<input type="text" name="" autofocus>
<button type="button" name="button"> Publish</button>

<!-- node.js - ejs - Layout Partials -->
<%- include("partials/footer"); -%>
