<!-- node.js - ejs - Layout Partials -->
<%- include("partials/header"); -%>

<h1>Home</h1>

<p><%= startingContent %></p>

<!-- node.js - ejs - Layout Partials -->
<%- include("partials/footer"); -%>
