<!-- node.js - ejs - Layout Partials -->
<%- include("partials/header"); -%>

<h1><%= title %></h1>
<p><%= content %></p>

<!-- node.js - ejs - Layout Partials -->
<%- include("partials/footer"); -%>
